# Realty API Key - Set your API key here
REALTY_API_KEY="your_realty_api_key_here"
NEXT_PUBLIC_REALTY_API_URL=https://realtor.realtyapi.io/details/byaddress?address=9504+Quail+Village+Ln%2C+Austin%2C+TX+78758

